---
layout: workshop
root: .
venue: Universidade do Estado do Rio de Janeiro
address: Faculdade de Oceanografia da UERJ
country: Brasil
humandate: Nov 21,28 , 2020
humantime: 8:00 am - 12:30 pm
startdate: 2014-11-21
enddate: 2014-11-28
latlng: -22.9083, -43.1964
registration: restricted
instructor: ["Rafael Soutelino"]
helper: ["Phellipe Couto"]
contact: rsoutelino@gmail.com
#redirect: http://www.3rd.party.workshop.home.page.com
#eventbrite: 00000000000
lessons: ['Python', 'Git']
---
<!--
    Edit the values in the parameter block above to be appropriate for your workshop.
    Please use three-letter month names for the 'humandate' field.
-->

<!-- Remove the block below. -->
<div align="center">
  <p><strong><em>
      This page is a template for workshop home pages.
      <br/>
      Please see
      <a href="//github.com/swcarpentry/bc">github.com/swcarpentry/bc</a>
      for instructions on how to create
      a repository for your workshop.
  </em></strong></p>
</div>

<!--
    This block includes the Eventbrite registration widget if 'eventbrite' has been set in the header.

    Maybe you need to change height value:

    - for one room use 206px,
    - for one waitlist room use 152px,
    - for two room use 254px,
    - for one waitlist room and one room use 253px,
    - for two waitlist room use 197px.
-->
{% if page.eventbrite %}
<iframe
  src="//www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt" frameborder="0" width="100%" height="206px" scrolling="auto"></iframe>
{% endif %}

<h2>Introdução</h2>

<p>
  Este módulo do curso é inspirado no programa <a href="//software-carpentry.org">Software Carpentry</a>.  
  A missão deste grupo é ajudar cientistas e engenheiros a se tornarem mais produtivos através
  do ensino de habilidades básicas de computação, como design de aplicativos, controle de 
  versão, gerenciamento de dados e automatização de tarefas. Este curso prático cobrirá 
  conceitos básicos e ferramentas; os alunos serão encorajados a ajudar uns aos outros e 
  a aplicar o que eles aprenderam em suas próprias pesquisas científicas. 
</p>

<!--
    Modify this block to reflect the target audience for your workshop.
    In particular, if it is only open to people from a particular institution,
    or if specialized prerequisite knowledge is required, please mention that.
-->
<p>
  <strong>Público alvo:</strong>
  Este curso se destina especificamente a alunos de mestrado em oceanografia.
</p>

<!--
    This block displays the address and links to a map showing directions.
-->
{% if page.latlng %}
<p>
  <strong>Onde:</strong>
  {{ page.address }}.
  Localização:
  <a href="//maps.google.com/maps?q={{ page.latlng }}">Google Maps</a>.
</p>
{% endif %}

<!--
    Modify the block below if there are any special requirements.
-->
<p>
  <strong>Importante:</strong>
  Os alunos devem trazer um laptop (mínimo de um por dupla, idealmente) já 
  preparado com os softwares que serão utilizados na aulas. Os alunos são 
  fortemente encorajados a ler o <a href="http://software-carpentry.org/conduct.html">
  Code of Conduct</a> do Software Carpentry's. É um projeto open source muito bacana
  no qual me baseei para estruturar este curso. Nesta ocasião, devido ao modo remoto
  como o curso será conduzido, o curso está condensado em cerca de metade do conteúdo
  proposto por este grupo. A leitura das 
  <a href="http://software-carpentry.org/lessons.html">Lessons</a> propostas por eles
  é muito interessante como preparação para as aulas, principalmente daquelas 
  que trataremos nas aulas (Python, Git).   
</p>

<!--
    This block automatically inserts a contact email address if one has been specified for the page.
    If one hasn't, this block inserts the generic contact address for Software Carpentry.
-->
<p>
  <strong>Contato</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  para dúvidas ou maiores informações.
</p>

<hr/>

<!--
    Edit this block to show the schedule for your workshop.
-->
<h2>Cronograma</h2>

<div class="row-fluid">
  <div class="span6">
    <h3>Aula 1</h3>
    <table class="table table-striped">
      <tr> <td>08:00</td> <td>Programação em Python - nível básico</td> </tr>
      <tr> <td><em>10:30</em></td> <td><em>intervalo</em></td> </tr>
      <tr> <td>10:45</td> <td>Exemplo prático com dados de CTD</td> </tr>
      <tr> <td><em>12:30</em></td> <td><em>encerramento</em></td> </tr>
    </table>
  </div>
  <div class="span6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>08:00</td> <td>Programação em Python - nível intermediário</td> </tr>
      <tr> <td><em>10:30</em></td> <td><em>intervalo</em></td> </tr>
      <tr> <td>10:45</td> <td>Controle de versão e desenvolvimento colaborativo</td> </tr>
      <tr> <td>12:30</td> <td><em>encerramento</em></td> </tr>
    </table>
  </div>
</div>

<hr/>

<!--
    Edit this block to show what topics will be covered.
-->
<h2>Meterial Didático</h2>

<div class="row-fluid">
  <div class="span6">
    <h3>Programação em Python</h3>
    <ul>
      <li>Usando bibliotecas</li>
      <li>Trabalhando com arrays (matrizes)</li>
      <li>Lendo e plotando dados</li>
      <li>Criando e usando funções</li>
      <li>Loops e condicionais: <code>for</code>, <code>if</code>, <code>else</code>, ...</li>
      <li><a href="novice/ref/03-python.html">Reference...</a></li>
    </ul>
  </div>
</div>

<div class="row-fluid">
  <div class="span6">
    <h3>Controle de versão com Git</h3>
    <ul>
      <li>Criando um repositório</li>
      <li>Salvando modificações em um arquivo: <code>add</code>, <code>commit</code>, ...</li>
      <li>Visualizando as modificações: <code>status</code>, <code>diff</code>, ...</li>
      <li>Ignorando arquivos</li>
      <li>Trabalhando na web (GitHub): <code>clone</code>, <code>pull</code>, <code>push</code>, ...</li>
      <li>Resolvendo conflitos</li>
      <li><a href="novice/ref/02-git.html">Reference...</a></li>
    </ul>
  </div>
</div>

<hr/>

<!--
    Edit the setup instructions in _includes/setup.html to reflect your workshop.
    (In particular, most workshops teach either Python or R, not both.)
-->

<h2>Preparação</h2>

<p>
  Para participar do curso, você precisará preparar seu computador com o software descrito abaixo.
  Por favor, certifique-se de que tudo esteja instalado <em>antes</em> da primeira aula. 

  To participate in a Software Carpentry workshop, 
  you will need working copies of the software described below.
  Please make sure to install everything
  (or at least to download the installers)
  <em>before</em> the start of your workshop.
</p>

{% include setup.html %}
