<h3>Comentários Gerais</h3>

<div class="row-fluid">
  <div class="span6">
    <h4>Editor de texto</h4>
    <p>
      Quando você está programando, é muito produtivo ter um editor de texto 
      que é otimizado para escrever código, com funcionalidades como 
      colorir sintaxe. 
    </p>
{% if page.lessons contains 'Bash' %}
    <h4>The Bash Shell</h4>
    <p>
      Bash is a commonly-used shell. Using a shell gives you
      more power to do more tasks more quickly with your
      computer.
    </p>
{% endif %}
{% if page.lessons contains 'Git' %}
    <h4>Git</h4>
    <p>
      Git é um poderoso sistema de controle de versão usado pelos 
      mais complexos softwares. Ele permite que você mantenha controle
      das modificações que você e seus colegas de trabalho fazem no código
      e quando elas foram feitas. Tem opções ótimas para fácil atualização
      de seu programa e rápida disponibilização de correções via web através
      da publicação do seu código no site <a href="https://github.com/">github.com</a>.
    </p>
{% endif %}
  </div>
  <div class="span6">
{% if page.lessons contains 'Python' %}
    <h4>Python</h4>
    <p>
      Python está se tornando uma linguagem de programação muito popular para cientistas. É
      uma linguagem perfeita para ensinar conceitos de programação por que é fácil de ler e tem
      uma sintaxe muito intuitiva e leve. 
    </p>
{% endif %}
{% if page.lessons contains 'R' %}
    <h4>R</h4>
    <p>
      <a href="http://www.r-project.org">R</a> is a programming language that is especially powerful for
      data exploration, visualization, and statistical analysis. To interact with R, we will
      use <a href="http://www.rstudio.com/">RStudio</a>, an interactive
      development environment (IDE).
    </p>
{% endif %}
{% if page.lessons contains 'SQL' %}
    <h4>SQL</h4>
    <p>
      SQL is a specialized programming language used with databases.
      We use a simple database manager called <a href="http://www.sqlite.org/">SQLite</a>,
      either directly or through a browser plugin.
    </p>
{% endif %}
  </div>
</div>

<h3>Windows</h3>

<div class="row-fluid">
  <div class="span6">
{% if page.lessons contains 'Python' %}
    <h4>Python</h4>
    <ul>
      <li>
        Download e instale  <a href="https://store.continuum.io/cshop/anaconda/">Anaconda</a>.
      </li>
      <li>
        Use todos os defaults para a instalação. 
        <em>exceto</em>
        Não esqueça de marcar <strong>Make Anaconda the default Python</strong>.
      </li>
    </ul>
{% endif %}
{% if page.lessons contains 'Git' %}
    <h4>Git Bash</h4>
    <p>
      Instale Git para Windows a través do download do
      <a href="http://msysgit.github.io/">instalador</a>.
      Isto vai te proporcionar ambos o Git e um Bash shell.
    </p>
    <h4>Software Carpentry Installer</h4>
    <p>Este requir conexão com a internet</p>
    <p>Depois de instalar Python e Git Bash:</p>
    <ul>
      <li>
        Faça o download do <a href="{{site.windows_installer_path}}">instalador</a>.
      </li>
      <li>
        Se o arquivo abrir diretamente no navegador, selecione <strong>File&rarr;Save Page As</strong>
        para fazer o download.
      </li>
      <li>
        Dê um duplo-clique no arquivo para executá-lo.
      </li>
    </ul>
{% endif %}
  </div>
  <div class="span6">
    <h4>Editor</h4>
    <p>
      <code>nano</code> é o editor padrão do Software Carpentry Installer,
      é um editor bem básico.
    </p>
    <p>
      <a href="http://www.sublimetext.com/">Sublime Text</a> é um editor muito poderoso, gratuito para testar
      e é o que recomendamos para o curso. 
    </p>
{% if page.lessons contains 'R' %}
    <h4>R</h4>
    <p>
      Install R by downloading and running
      <a href="http://cran.r-project.org/bin/windows/base/release.htm">this .exe file</a>
      from <a href="http://cran.r-project.org/index.html">CRAN</a>.
      Also, please install the
      <a href="http://www.rstudio.com/ide/download/desktop">RStudio IDE</a>.
    </p>
{% endif %}
{% if page.lessons contains 'SQL' %}
    <h4>SQLite</h4>
    <p>
      Download the <a href="http://files.software-carpentry.org/sqlite3.exe">sqlite3 program</a>
      and put it in the directory where you are running examples.
      Alternatively,
      you may install the Firefox SQLite browser plugin described <a href="#firefox-sqlite">below</a>.
    </p>
{% endif %}
  </div>
</div>

<h3>Mac OS X</h3>

<div class="row-fluid">
  <div class="span6">
{% if page.lessons contains 'Bash' %}
    <h4>Bash</h4>
    <p>
      The default shell in all versions of Mac OS X is bash,
      so no need to install anything.  You access bash from
      the Terminal (found
      in <code>/Applications/Utilities</code>).  You may want
      to keep Terminal in your dock for this workshop.
    </p>
{% endif %}
    <h4>Editor de texto</h4>
    <p>
      Recomendamos
      <a href="http://www.sublimetext.com/">Sublime Text</a>.
    </p>
{% if page.lessons contains 'Git' %}
    <h4>Git</h4>
    <p>

      <strong>Para OS X 10.8 e superior</strong>, instale Git para Mac fazendo o download do 
	  <a href="http://git-scm.com/downloads">instalador</a>.
      <strong>Para versões anteriores do OS X (10.5-10.7)</strong> use o instalador mais recente disponível
      para o seu OS <a href="https://code.google.com/p/git-osx-installer/downloads/list">aqui</a>. 
      Use o Leopard installer para 10.5 e Snow Leopard
      installer para 10.6-10.7.
    </p>
{% endif %}
  </div>
  <div class="span6">
{% if page.lessons contains 'Python' %}
    <h4>Python</h4>
    <ul>
      <li>
        Faça o download de  <a href="https://store.continuum.io/cshop/anaconda/">Anaconda</a>.
      </li>
      <li>
        Use todas as opções padrão
        <em>exceto</em>
        Não esqueça de marcar <strong>Make Anaconda the default Python</strong>.
      </li>
      <li>
	<strong>Bugs:</strong> Se você obtiver a seguinte mensagem de erro
	"<code>ValueError unknown locale: UTF-8</code>", veja as instruções para resolver isso  
	<a href="http://conda.pydata.org/docs/troubleshooting.html#issue-valueerror-unknown-locale-utf-8-on-mac-os-x">aqui</a>.
      </li>
    </ul>
{% endif %}
{% if page.lessons contains 'R' %}
    <h4>R</h4>
    <p>
      Install R by downloading and running
      <a href="http://cran.r-project.org/bin/macosx/R-latest.pkg">this .pkg file</a>
      from <a href="http://cran.r-project.org/index.html">CRAN</a>.
      Also, please install the
      <a href="http://www.rstudio.com/ide/download/desktop">RStudio IDE</a>.
    </p>
{% endif %}
{% if page.lessons contains 'SQL' %}
    <h4>SQLite</h4>
    <p>
      <code>sqlite3</code> comes pre-installed on Mac OS X.
      Alternatively,
      you may install the Firefox SQLite browser plugin described <a href="#firefox-sqlite">below</a>.
    </p>
{% endif %}
  </div>
</div>

<h3>Linux</h3>

<div class="row-fluid">
  <div class="span6">
{% if page.lessons contains 'Bash' %}
    <h4>Bash</h4>
    <p>
      The default shell is usually <code>bash</code>,
      but if your machine is set up differently
      you can run it by opening a terminal and typing <code>bash</code>.
      There is no need to install anything.
    </p>
{% endif %}
{% if page.lessons contains 'Git' %}
    <h4>Git</h4>
    <p>
      Se o Git já não está instalado no seu sistema, instale via 
      <code>apt-get</code> ou <code>yum</code>.
    </p>
{% endif %}
    <h4>Editor de texto</h4>
    <p>
      <a href="http://www.sublimetext.com/">Sublime Text</a>.
    </p>
{% if page.lessons contains 'R' %}
    <h4>R</h4>
    <p>
      You can download the binary files for your distribution
      from <a href="http://cran.r-project.org/index.html">CRAN</a>. Or
      you can use your package manager, e.g. for Debian/Ubuntu
      run <code>apt-get install r-base</code> or <code>yum install R</code>.
      Also, please install the
      <a href="http://www.rstudio.com/ide/download/desktop">RStudio IDE</a>.
    </p>
{% endif %}
{% if page.lessons contains 'SQL' %}
    <h4>SQLite</h4>
    <p>
      <code>sqlite3</code> comes pre-installed on Linux.
      Alternatively,
      you may install the Firefox SQLite browser plugin described <a href="#firefox-sqlite">below</a>.
    </p>
{% endif %}
  </div>
  <div class="span6">
{% if page.lessons contains 'Python' %}
    <h4>Python</h4>
    <p>
      Recomendamos o pacote
      <a href="http://continuum.io/downloads.html">Anaconda</a>.
    </p>
    <ol>
      <li>
        Faça o download do instalador que corresponde a sua distribuição linux e salve na sua pasta home.
      </li>
      <li>
        Abra um terminal.
      </li>
      <li>
        Digite <pre>bash Anaconda-</pre> e pressione tab algumas vezes até que o nome se auto-complete.
      </li>
      <li>
        Pressione enter. Você seguirá as instruções em modo texto. Concorde com a licensa
        digitando <code>yes</code> e aperte enter. 
        Aperte enter para concordar com a localização padrão dos arquivos de instalação.
        Digite <code>yes</code> e aperte enter para apendar o Anaconda no seu <code>PATH</code>.
      </li>
    </ol>
{% endif %}
  </div>
</div>

<!-- <h3>Todos os sistemas operacionais</h3> -->

<div class="row-fluid">
  <div class="span6">
{% if page.lessons contains 'SQL' %}
    <h4 id="firefox-sqlite">Firefox SQLite Plugin</h4>
    <p>
      Instead of using <code>sqlite3</code> from the command line,
      you may use <a href="https://addons.mozilla.org/en-US/firefox/addon/sqlite-manager/">this plugin</a>
      for Firefox instead.
      To install it:
    </p>
    <ul>
      <li>
	Start Firefox.
      </li>
      <li>
	Go to the <a href="https://addons.mozilla.org/en-US/firefox/addon/sqlite-manager/">plugin homepage</a>.
      </li>
      <li>
	Click the "Add Now" button.
      </li>
      <li>
	Click "Install Now" on the dialog that appears after the download completes.
      </li>
      <li>
	Restart Firefox when prompted.
      </li>
      <li>
	To check that the plugin installed correctly, select "SQLite Manager" from the "Tools" menu.
      </li>
    </ul>
    <p>
      In newer versions of Firefox, the menu bar isn't always displayed. To make
      it appear, use the <code>Alt</code> key next to the space bar on your
      keyboard, or consult
      the <a href="https://support.mozilla.org/en-US/kb/what-happened-to-the-file-edit-and-view-menus">support
      page</a> from Firefox for additional help.
    </p>
{% endif %}
  </div>
  <div class="span6">
{% if page.lessons contains 'VM' %}
    <h4>Virtual Machine</h4>
    <p>
      Some instructors prefer to have learners use a virtual machine (VM)
      rather than install software on their own computers.
      If your instructors have chosen to do this,
      please:
    </p>
    <ol>
      <li>
	Install <a href="https://www.virtualbox.org/">VirtualBox</a>.
      </li>
      <li>
	Download our <a href="{{site.vm_url}}">VM image</a>.
	<strong>Warning:</strong>
	this file is 1.7 GByte,
	so please download it <em>before</em> coming to your workshop.
      </li>
      <li>
	Load the VM into VirtualBox by selecting "Import Appliance"
	and loading the <code>.ova</code> file.
      </li>
    </ol>
{% endif %}
  </div>
</div>
